
@model  MIS497FinalProject.Models.Graphs
@{
    ViewBag.Title = "Health Reports - Pie Chart";
}

<center>
    <h2>Health Reports</h2>
</center>
<br />
<br />


<div class="btn-group btn-group-justified">
    <a href="/Graphs/Graphs" class="btn btn-primary">Pie Chart</a>
    <a href="/Graphs/CalorieChart" class="btn btn-primary">Bar Chart</a>
</div>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawPieChart);

        function drawPieChart() {

            var pieData = new google.visualization.DataTable();
            pieData.addColumn('string', 'Nutrient');
            pieData.addColumn('number', 'Grams');
            pieData.addRows([
                ['Protein', @ViewBag.ProteinTotal],
                ['Carbs', @ViewBag.CarbTotal],
                ['Fat', @ViewBag.FatTotal]
            ]);

            var pieOptions = { 'title': 'Diet Nutritional Composition', 'width': 550, 'height': 400 };

            var pieChart = new google.visualization.PieChart(document.getElementById('pieChart'));
            pieChart.draw(pieData, pieOptions);
        }
    </script>
    




</head>
<body>
    <center>
        <div id="pieChart" />
    </center>
</body>
