
@model  MIS497FinalProject.Models.Graphs
@{
ViewBag.Title = "Health Reports";
}

<center>
    <h2>Health Reports</h2>
</center>
    <br />
    <br />

<body>
    <center>
        <h4> Select a Graph Type</h4>
    </center>

<div class="btn-group btn-group-justified">
    <a href="/Graphs/Graphs" class="btn btn-primary">Pie Chart</a>
    <a href="/Graphs/CalorieChart" class="btn btn-primary">Bar Chart</a>
</div>
</body>
